body{
    padding: 0 100px;
    font-family: Neue Haas Grotesk Display Pro, sans-serif;
    padding-top: 50px;
    background-color: black;
}
nav{
    background-color: red !important;
    width: 100%;
}
div{
    background-color: red;
}
img{
    height: ;
    width: 20000px;
}