body{
    margin: 0;
    padding: 0;
    font-family: Open Sans, sans-serif;
}
.needgrid{
    display: grid;
    grid-template-columns: auto auto;
    width: max-content;
    column-gap: 100px;
    row-gap: 30px;
    margin-top: 170px;
}
main{
    display: flex;
    gap: 100px;
    .content{
        display: grid;
        gap: 200px;
        height: max-content;
    }
    h2{
        font-size: 36px;
    }
    .thanks{
        width: 459px;
    }
    .tp{
        max-width: 736px;
        font-size: 24px;
        font-weight: 400;
        color: #7f7f7f;
    }
}