doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/sass/1_pages/style.css")
        title Test  
    body 
        div 
            nav.navbar
                img(width="59px" height="29px")(src="/img/1/Group 4.png", alt="")
                img(src="/img/1/Line 2.png", alt="")
                p Something about <br> lemon
            div  
                div(displey="") 
                    img(src="/img/1/Group.png", alt="")
                    p how to eat
